node_modules
.next
dist
build
coverage
.turbo
*.log
.env
.env.local
.env.*.local
uploads/*
!uploads/.gitkeep
storage/uploads/*
!storage/uploads/.gitkeep
*.tsbuildinfo
.DS_Store
playwright-report
test-results
.prisma
packages/database/generated
apps/web/.next
apps/api/dist
packages/shared/dist
packages/database/dist
.vscode
.idea
